<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D23F4BAA12A868A500686C8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F9A41412131EF0002747C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2F9A52A121383A1002747C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F92C53530ECCE349009BE4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F92C563B0ECD10B3009BE4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F92C569F0ECE04A7009BE4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F93803BD0F80820F004D428B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F93DE2D00F82A67300608B94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F93DE32B0F82C55600608B94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F94585840F782326009A47BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C44DA40EF060A8003AEBAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C77DD90F7DD5CF0045F7DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
